.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  width: auto;
  min-width: 70px;
  height: auto;
  min-height: 36px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .frame {
    gap: 8px;
    width: 84px;
    height: 40px;
  }
}

.iconBox {
  position: relative;
  width: 48px;
  height: 36px;
  background: rgba(12, 22, 51, 0.12);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(4px);
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}
.ownerBox {
  position: relative;
  width:163px;
  height: 36px;
  background: rgba(12, 22, 51, 0.12);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(4px);
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}
@media (max-width: 640px) {
  .iconBox {
    width: 30px;
    height: 20px;
    border-radius: 8px;
  }
  .ownerBox {
  position: relative;
  width:120px;
  height: 20px;
  background: rgba(12, 22, 51, 0.12);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(4px);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}
}

.iconBox:hover {
  transform: scale(1.05);
}

.iconBox:active {
  transform: scale(0.95);
}

.icon {
  width: 20px;
  height: 20px;
}

@media (min-width: 640px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}
